<div class="container">
<p>ようこそ、ながのCAKEへ！<br>
このサイトは、ケーキ販売のECサイトになります。<br>
会員でない方も商品の閲覧はできますが、<br>
購入には会員登録が必要になります。
</p>

<h2>新着商品</h2>
<% @items.each do |item| %>
<%= item.name %>
<%= image_tag item.image, size: '100×100' %>
<%= item.price %>
<% end %>

<%= link_to "全ての商品を見る", public_items_path %>

</div>