<P>商品一覧</P>

<% @items.each do |item| %>


<p>商品名</p>
<div>
<%= link_to public_item_path(item.id) do %>
<%= item.name %>
<%= image_tag item.image, size: '100×100' %>
<%= item.price %>
<% end %>
</div>
<% end %>